---
---

.devknox-feat
  background-color: black

.devknox-feat3
  background-color: black

.align-center img
  display: block
  margin-left: auto
  margin-right: auto

.vul-list
  position: absolute
  left: 200px

.carousel-button
  background-image: none!important

.feedback-box
  width: 70%
  background-color: grey
  padding: 40px
  margin: 0 auto
  text-align: center

.row
  margin-right: 0px!important
