---
---

.devknox-feat
  background-color: black
  font-family: 'Raleway', sans-serif

.devknox-feat3
  background-color: black

.align-center img
  display: block
  margin-left: auto
  margin-right: auto

.vul-list
  position: absolute
  left: 200px

.carousel-button
  background-image: none!important

.feedback-box
  width: 70%
  background-color: grey
  padding: 40px
  margin: 0 auto
  text-align: center

.row
  margin-right: 0px!important

.gradient-background
  background: #166f98
  background: -webkit-linear-gradient(left, #2e3192 , #00a99d)
  background: -o-linear-gradient(right, #2e3192 , #00a99d)
  background: -moz-linear-gradient(right, #2e3192 , #00a99d)
  background: linear-gradient(to right, #2e3192 , #00a99d)

.team-section
  background: #1f2367
  height: 500px
.integration-section
  background: #171c4f
  height: 500px
.dashboard-section
  background: #06233c
  height: 500px
.testing-section
  background: #132d45
  height: 500px

.report-section
  background: #1f2367
  height: 350px
.vuln-section
  background: #171c4f
  height: 350px
.feat-section
  background: #1f2367
  height: 350px

.feedback-text
  margin-top: 0px

.main-section
  background-color: #132d45!important
  margin-bottom: 0px!important
  padding-right: 0px!important

.main-heading
  color: #51f8d1
  font-family: 'Raleway', sans-serif
  font-size: 48px

.main-sub-heading
  color: #e9fb97
  font-family: 'Raleway', sans-serif
  font-size: 20px

.main-desc
  color: #c6cad7
  font-family: 'Raleway', sans-serif
  font-size: 16px

.start-now-button
  width: 150px
  font-family: 'Raleway', sans-serif
  font-size: 18px!important

.feature-heading
  color: #51f8d1
  font-family: 'Raleway', sans-serif
  font-size: 36px

.security-feature
  color: #e1dfea
  font-family: 'Open Sans', sans-serif
  font-size: 20px

.feature-list1
  color: #8d8fde
  font-family: 'Raleway', sans-serif
  font-size: 24px

.feature-list2
  color: #00cdbf
  font-family: 'Raleway', sans-serif
  font-size: 36px

.report-list li
  list-style-type: none
  color: #e1dfea
  font-family: 'Open Sans', sans-serif
  font-size: 20px

.testimonial-sign
  color: #e6e6e6
  font-family: 'Raleway', sans-serif
  font-size: 24px

.testimonial-feedback
  color: #e6e6e6
  font-family: 'Raleway', sans-serif
  font-size: 24px

.feedback-text
  color: #51f8d1
  font-family: 'Raleway', sans-serif
  font-size: 36px

.client-heading
  color: #51f8d1
  font-family: 'Raleway', sans-serif
  font-size: 36px
