---
layout: default
title: Devknox - Security Plugin for Android Studio
excerpt: Devknox is a security plugin for Android Studio that enables app developers to detect and resolve security issues as easy as spell check.
keywords: devknox, android app security, security plugin, android studio security plugin, android studio plugin, appknox for developers, security plugin for app developers, security tools for developers, mobile app security tools
---

<div class="jumbotron gs-main-section">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-lg-offset-1">
      <div class="gs-main-heading"> Keep the lengthy security manuals aside.</div>
      <div class="gs-main-sub-heading"> Choose a Plan, Register &amp; finally SignUp to start using Devknox.</div>
    </div>
    <div class="col-lg-7 col-md-7 align-center">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 devknox-pricing-lite">
        <div class="pricing-heading">Devknox Lite</div>
        <img src="/img/gallery/dev-23.png" class="img-responsive" alt="">
        <div class="pricing-desc">Single User <br/> Only IDE Plugin</div>
        <button type="button" class="btn pricing-start-button btn-default">START</button>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 devknox-pricing">
        <div class="pricing-heading">Devknox </div>
        <img src="/img/gallery/dev-24.png" class="img-responsive" alt="">
        <div class="pricing-desc">upto 5 Users Includes SAST, DAST &amp; IDE Plugin</div>
        <button type="button" class="btn pricing-start-button btn-default">START</button>
      </div>
      <div class="col-lg-12 submission-form">
        <div class="container">
        	<div class="row">
      			<div class="col-lg-7 col-lg-offset-2">
      				<div class="panel panel-login pricing-register">
      					<div class="pricing-panel-heading">
      						<div class="row">
      							<div class="col-lg-6">
      								<a class="active btn" id="login-form-link">Register</a>
      							</div>
      							<div class="col-lg-6">
      								<a class="btn" id="register-form-link">Sign Up</a>
      							</div>
      						</div>
      					</div>
      					<div class="panel-body">
      						<div class="row">
      							<div class="col-lg-12">
      								<form id="login-form" action="" method="post" role="form" style="display: block;">
                        <div class="form-group">
                          <div class="col-lg-3 input-name"> Name </div>
                          <div class="col-lg-9">
                            <input type="text" name="name" id="name" class="form-control required register-form-control" />
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-3 input-name"> Email </div>
                          <div class="col-lg-9">
                            <input type="email" name="email" id="email" class="form-control required email register-form-control" />
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-3 input-name"> Company </div>
                          <div class="col-lg-9">
                            <input type="text" name="company" id="company" class="form-control required register-form-control" />
                          </div>
                        </div>
      									<div class="form-group">
      										<div class="row">
      											<div class="col-sm-6 col-sm-offset-3">
      												<input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-login" value="Sign Up">
      											</div>
      										</div>
      									</div>
      								</form>
      								<form id="register-form" action="" method="post" role="form" style="display: none;">
                        <div class="form-group">
                          <div class="col-lg-3 input-name"> Username </div>
                          <div class="col-lg-9">
                            <input type="text" name="uername" id="uername" class="form-control required register-form-control" />
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-3 input-name"> Password </div>
                          <div class="col-lg-9">
                            <input type="password" name="password" id="password" class="form-control required register-form-control" />
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-3 input-name"> Confirm Password </div>
                          <div class="col-lg-9">
                            <input type="password" name="confirm-password" id="confirm-password" class="form-control required register-form-control" />
                          </div>
                        </div>
      									<div class="form-group">
      										<div class="row">
      											<div class="col-sm-6 col-sm-offset-3">
      												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
      											</div>
      										</div>
      									</div>
      								</form>
      							</div>
      						</div>
      					</div>
      				</div>
      			</div>
      		</div>
    	</div>
      <button type="button" class="btn close-button btn-default">CLOSE</button>
      </div>
    </div>
  </div>
</div>

<div class="documentation-section">
  <div class="doc-header col-lg-offset-1">Documentation</div>
  <div class="col-lg-offset-1">
    <button type="button" class="doc-slide-down">SHOW</button>
    <button type="button" class="doc-slide-up">HIDE</button>
  </div>
  <div class="doc-show-document">

    <!-- start of scrollspy -->

    <div class="scrollspy-container">
      <div class="row">
        <div class="col-md-3 scrollspy-left-col" id="leftCol">
          <ul class="nav nav-pills nav-stacked scrollspy-nav-stacked" id="sidebar">
            <li class="active"><a href="#introduction">Introduction</a></li>
            <li><a href="#whats-new">What's New</a></li>
            <li><a href="#prerequisites">Prerequisites</a></li>
            <li><a href="#install-devknox">Installing Devknox</a></li>
            <li><a href="#update-devknox">Updating Devknox</a></li>
            <li><a href="#use-devknox">Using Devknox</a></li>
      	  </ul>
        </div>
        <div class="col-md-9 scrollspy-right-col">
          <div id="introduction" class="intro-section">
            <h3>Introduction</h3>
              Devknox is a developer friendly Android Studio plugin that helps Android developers detect and resolve security issues in their apps, while writing code.
              Imagine Devknox to similar to what autocorrect is for English. As you write code, Devknox highlights possible security risks and also gives you a suggested solution which you can select and replace across your code.<br />
              Yes, it is truly that simple! Let's build more secure apps!
           </div>
          <hr class="col-md-11">

          <div id="whats-new">
            <h3>What's New</h3>
            <p>
          The new roll-out of Devknox contains following improvements and features:
            </p>
             <ul class="circle">
               <li>Revamped Report Window :
                <ul class="empty-circle">
                 <li>Issue Name, Location, Fix Option, Suppress Option</li>
                </ul>
               </li>
               <li>Suppress Inspection :
                 <ul class="empty-circle">
                   <li>Single Statement, For Method, For Class</li>
                 </ul>
               </li>
               <li> Issue Detection :
                 <ul class="empty-circle">
                   <li>Red Underlined Annotation</li>
                   <li>IDE Editor Marking and Quick Jumping to Issue in Editor Itself</li>
                   <li>Problem Synopsis as well as Detailed Information in Tooltip</li>
                 </ul>
               </li>
               <li>Quick Fix All Similar Issues at Once</li>
               <li>Export Report to Xml and Html</li>
               <li>User preferences for Issue Types
                 <ul class="empty-circle">
                   <li>Option to disable Inspections</li>
                 </ul>
               </li>
               <li>Various inspection scopes on scan(Module, File, Project)</li>
               <li>Fix plugin stability issues</li>
             </ul>
           </div>
    	    <hr class="col-md-11">
          <div id="prerequisites">
          <h3>Minimum Requirements</h3>
            If you want to run Devknox on your PC, here's what it takes:
            <ul class="circle">
              <li>Java : 1.7</li>
              <li>Android Studio : 2.1.2</li>
            </ul>
          </div>
          <hr class="col-md-11">
          <div id="install-devknox">
            <h3>Installing Devknox</h3>
            <p>
            To be able to use Devknox, you should specify the URLs of such Devknox repository in Android Studio. Follow the steps outlined below to add the URL:
            </p>
               <ul class="circle">
                 <li>Go to <b>File</b> menu and click <b>Settings</b></li>
                 <li>In the Settings dialog, click <b>Plugins</b></li>
                 <li>Click <b>Browse repositories</b></li>
                 <li>In the Browse Repositories dialog that opens, click <b>Manage repositories</b></li>
                 <li>Use the Custom Plugin Repositories dialog that opens, to manage the list of URLs
                   for custom (enterprise) plugin repositories:
                  <ul class="square">
                     <li>To add a repository URL, click <img src="/img/icon/add.png" alt="Appknox Devknox" /> (⌘N). In the Add Repository dialog, specify the repository URL and click OK.
                       (You can use the Check Now button to make sure that the specified URL is correct: IntelliJ IDEA will try to connect
                       to the repository)</li>
                       <div class="repo-url">
                           <pre><b>Repository URL</b> : http://repo.devknox.io</pre>
                       </div>
                     <li>To edit a repository URL, select the URL and click <img src="/img/icon/edit.png" alt="Appknox Devknox" /> (⏎). In the Edit Repository dialog, edit the URL and click OK.</li>
                     <li>To remove a URL from the list, select the URL and click <img src="/img/icon/delete.png" alt="Appknox Devknox" /> (⌘⌦)</li>
                     Click <b>OK</b> in the Custom Plugin Repositories dialog.
                  </ul>
                 </li>
                 <li>In the Browse repositories window search for <b>Devknox</b></li>
                 <li>In the right pane click on the green <b>Install</b> button</li>
                 <li>Restart the IDE to start using Devknox</li>
               </ul>
            <div class="image-wrapper">
              <div class="image-container">
                <img src="/img/features/devknox-install.gif" alt="Devknox android application security tool" class="img-responsive gif-position"  />
              </div>
            </div>
          </div>
          <hr class="col-md-11">
          <div id="update-devknox" >
            <h3>Updating Devknox</h3>
             Follow the steps if you want to update Devknox from settings or else Devknox can be updated from the notification everytime IDE starts up
            <ul class="circle">
              <li>Go to <b>File</b> menu and click <b>Settings</b></li>
              <li>In the <b>Settings</b> dialog, click <b>Plugins</b></li>
              <li>Choose Devknox from the list of plugins installed and click on <b>update</b> in the right pane</li>
              <li>Restart the IDE to start using Devknox</li>
            </ul>
            <img src="/img/features/update-devknox1.png" alt="Devknox android application security tool" class="img-responsive gif-position"  />
            <img src="/img/features/update-devknox2.png" alt="Devknox android application security tool" class="img-responsive gif-position"  />
          </div>
    	     <hr class="col-md-11">
           <div id="use-devknox" class="usage-section">
    	        <h3>Using Devknox</h3>
    	         <p>
                 Once installed, you can use Devknox as follows:
               </p>
              <ul class="circle">
                 <li>On the menu bar click on <b>Devknox</b> and select <b>Login</b></li>
                 <li>On the login dialog box provide the credentials and click <b>Login</b></li>
                 <li>On successful login the plugin starts the scan in background and highlights the issues as red underlined annotation</li>
                 <li>To quickly jump to various Devknox issues, just point to right end of the editor and check out Devknox issues,
                    issues will be highlighted as various warning levels like yellow, red lines.
                    hovering over them will show the piece of code where the issues lie and clicking on them will take you to the corresponding line</li>
                 <li>On hovering over the issue, a tooltip pops up showing summary of issues and clicking on more shows detailed description of the issues</li>
                 <li>Click on the issue code and a (intention)bulb icon <img src="/img/icon/bulb.png" alt="Appknox Devknox" /> will appear, clicking on it will provide the option to quick fix</li>
               </ul>
                 <ul class="circle">
                     <li>On the menu bar click on Devknox and select Devknox scan and choose scan scope(whole project, module, file, custom).
                        A report window pops up with Devknox issues. Expand as per choice to view particular issue details or expand the tree entirely using expand all icon <img src="/img/icon/expand-all.png" alt="Appknox Devknox" /></li>
                     <li>Select an issue to view details apply quick fix using problem resolution field</li>
                     <li>Select ad issue type and right click to get various options like suppress options and disabling inspection options</li>
                     <li>Use the export icon <img src="/img/icon/export.png" alt="Appknox Devknox" /> to export Devknox issues to XML or HTML</li>
                     <li>On the menu bar click on Devknox and select <b>About Devknox</b>, <b>Online Help</b> and <b>Feedback</b> to get an overview about Devknox, jump to online help and provide feedback to Devknox team respectively</li>
                  </ul>
              <img src="/img/features/usage.gif" alt="Devknox android application security tool" class="devknox-image" />
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- end of scrollspy -->

  </div>
</div>

<div class="faq-section">
  <div class="doc-header col-lg-offset-1">FAQs</div>
  <div class="col-lg-offset-1">
    <button type="button" class="faq-slide-down">SHOW</button>
    <button type="button" class="faq-slide-up">HIDE</button>
  </div>
  <div class="faq-show-document">
    <section>
    <div class="container ak-container" id="faq">
        <h1 class="text-center pricing-heading">FAQs</h1>
        <div class="horzr-sep-block ak-white-bg"></div>
        <div class="horzr-sep-block ak-white-bg"></div>
        <ul>
          <li class="col-md-offset-1 col-md-5 gills-19">
            {% for faq in site.data.faqs.left_faq %}
            <div class="faq-region">
              <div class="faq-quest-area">
                  <i class="fa fa-caret-right faqArrow" aria-hidden="true"></i>
                  <span class="faq-quest">{{faq.question}}</span>
              </div>
              <div class="faq-answer">
                {{faq.answer}}
              </div>
            </div>
            {% endfor %}
          </li>
          <li class="col-md-offset-1 col-md-5 gills-19">
            {% for faq in site.data.faqs.right_faq %}
            <div class="faq-region">
              <div class="faq-quest-area">
                  <i class="fa fa-caret-right faqArrow" aria-hidden="true"></i>
                  <span class="faq-quest">{{faq.question}}</span>
              </div>
              <div class="faq-answer">
                {{faq.answer}}
              </div>
            </div>
            {% endfor %}
          </li>
        </ul>
      </div>
  </section>
  </div>
</div>

<div class="gradient-background">
  {% include client_feedback.html %}
  <div class="trail-section">
    <div class="trail-button-section">
      <button type="button" class="btn get-started-button btn-default">Free to Use for 30 Days! </button>
    </div>
    <div class="trail-section-text">CLICK TO GET STARTED</div>
  </div>
</div>
