---
layout: default
title: Devknox - Security Plugin for Android Studio
excerpt: Devknox is a security plugin for Android Studio that enables app developers to detect and resolve security issues as easy as spell check.
keywords: devknox, android app security, security plugin, android studio security plugin, android studio plugin, appknox for developers, security plugin for app developers, security tools for developers, mobile app security tools
---
<div class="jumbotron main-section">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1">
        <div class="main-heading"> #1 Tool To Build Secure Android Apps </div>
        <div class="main-sub-heading"> Not Just Another Android Plugin.</div>
        <div class="main-desc"> Skip going through huge piles of documentation to make your code secure.</div>
        <div class="button-container">
          <a type="button" href="/get-started" data-proofer-ignore class="btn start-now-button button-all">Start Now </a>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 gif-container">
        <img src="/img/gallery/dev-22.png" class="img-responsive" alt="Devknox android application security tool">
      </div>
    </div>
</div>

<div class="devknox-feat non-gradient-background">
  <div class="container">
    <div class="text-center feature-heading"> Security Testing as easy as Spell Check </div>
    <div class="row text-center align-center security-container">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="/img/gallery/dev-19.png" class="img-responsive" alt="Devknox android application security tool">
        <div class="security-feature"> On-edit annotations </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="/img/gallery/dev-20.png" class="img-responsive" alt="Devknox android application security tool">
        <div class="security-feature"> Quick fixes </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="/img/gallery/dev-21.png" class="img-responsive" alt="Devknox android application security tool">
        <div class="security-feature"> Always up to date </div>
      </div>
    </div>
  </div>
</div>

<div class="devknox-feat2 align-center">
    <div class="col-lg-6 col-md-6 col-sm-6 feat-sec">
      <div class="feature-list1">For Agile Teams</div>
      <div class="feature-list2">of all Sizes</div>
      <img src="/img/gallery/dev-14.png" class="img-responsive" alt="Devknox android application security tool">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 feat-sec">
      <div class="feature-list1">Integrate</div>
      <div class="feature-list2">Across Platforms</div>
      <img src="/img/gallery/dev-13.png" class="img-responsive" alt="Devknox android application security tool">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 feat-sec">
      <div class="feature-list1">Interative</div>
      <div class="feature-list2">Dashboard</div>
      <img src="/img/gallery/dev-15.png" class="img-responsive" alt="Devknox android application security tool">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 feat-sec">
      <div class="feature-list1">Real Time</div>
      <div class="feature-list2">Testing</div>
      <img src="/img/gallery/dev-16.png" class="img-responsive" alt="Devknox android application security tool">
    </div>
</div>

<div class="devknox-feat3">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 report-section">
      <div class="feature-list1">Detailed</div>
      <div class="feature-list2">Reports</div>
      <ul class="report-list">
        <li> > Details of the vulnerabilties</li>
        <li> > Impact and location of vulnerabilties </li>
        <li> > Suggestions to prevent and cure the same</li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 vuln-section align-center">
      <div class="vul-list">
         <div class="vul-name"> Vulnerabilty </div>
         <table class="vul-table">
           <tbody>
             <tr>
               <td>High</td>
               <td>26%</td>
             </tr>
             <tr>
               <td>Medium</td>
               <td>15%</td>
             </tr>
             <tr>
               <td>Low</td>
               <td>48%</td>
             </tr>
             <tr>
               <td>None</td>
               <td>11%</td>
             </tr>
           </tbody>
         </table>
       </div>
      <img src="/img/gallery/dev-17.png" class="img-responsive" alt="Devknox android application security tool">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 feat-section align-center">
      <img src="/img/gallery/dev-18.png" class="img-responsive" alt="Devknox android application security tool">
    </div>
  </div>
</div>

<div class="feedback-section non-gradient-background">
  <div class="testimonial-section text-center">
    <h1 class="feedback-text">Feedback</h1>
    <div id="carousel-example-generic" class="carousel carousel-fade slide" data-ride="carousel">

      <!-- Wrapper for slides -->

      <div class="carousel-inner testimonial-section" role="listbox">
        {% for testimonial in site.data.testimonials %}
        <div class="item {{testimonial.class}}">
          <div class="feedback-box">

            <div class="row">

              <div class="col-lg-4 align-center">
                <div class="testimonial-sign">{{testimonial.name}}</div>
                <div class="client-logo-section">
                  <img src="{{testimonial.src}}" class="img-responsive client-logo {{testimonial.imgclass}}" alt="Devknox android application security tool">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="testimonial-feedback">{{testimonial.desc}}</div>
              </div>

            </div>

          </div>
        </div>
          {% endfor %}
      </div>

      <!-- Controls -->

      <a class="left carousel-control carousel-button carousel-prev" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control carousel-button carousel-next" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span></a>
    </div>
  </div>
  {% include client_feedback.html %}
  <div class="trail-section">
    <div class="trail-button-section">
      <a type="button" href="/get-started" data-proofer-ignore class="btn get-started-button btn-default">Free to Use for 30 Days! </a>
    </div>
    <div class="trail-section-text">CLICK TO GET STARTED</div>
  </div>
</div>
