<footer>
  <div class="col-lg-6 col-md-6 col-sm-6 form-section">
    <div class="footer-heading"> Get in Touch </div>
      <form class="form lead-form form-light dark-text" id="getin_touch" method="post" action="" style="padding: 45px 20px 15px;">
        <div class="form-group">
          <div class="col-lg-2 col-md-2 col-sm-3 input-name"> Name </div>
          <div class="col-lg-10 col-md-10 col-sm-9 ">
            <input type="text" name="name" id="name" class="form-control contact-form-control" required />
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-2 col-md-2 col-sm-3 input-name"> Email</div>
          <div class="col-lg-10 col-md-10 col-sm-9 ">
            <input type="email" name="email" id="emailid" class="form-control email contact-form-control" required />
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-2 col-md-2 col-sm-3 input-name"> Message </div>
          <div class="col-lg-10 col-md-10 col-sm-9 ">
            <textarea rows="3" cols="50" type="text" name="message" id="message" class="form-control contact-form-control" required>
            </textarea>
          </div>
        </div>
      <div class="form-group">
        <div class="col-lg-10 col-md-10 col-sm-10 input-button">
          <input type="submit" value="Submit" class="btn btn-lg submit-button button-all" />
        </div>
      </div>
    </form>
    <div class="thanks-message">
      Thank you for getting in touch, we'll get back to you shortly!!
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 contact-section">
    <div class="address-section">
      <div class="company-name"> XYSEC Labs </div>
      <ul class="devknox-address">
        <li>Singapore HQ </li>
        <li>79 Ayer Rajah Crescent </li>
        <li> #04-09 Singapore 139951 </li>
        <li>Ph: +65 3158  5898 </li>
        <a data-proofer-ignore href="mailto://contact@devknox.io"><li>Email: contact@devknox.io</li></a>
      </div>
      <span class="social-icons">
        <a target="_blank" href="https://www.facebook.com/devknoxio"><img src="/img/gallery/fb.png" alt="Devknox android application security tool" class=""></a>
        <a target="_blank" href="https://www.linkedin.com/company/devknox"><img src="/img/gallery/linkedin.png" alt="Devknox android application security tool" class=""></a>
        <a target="_blank" href="https://twitter.com/devknoxio"><img src="/img/gallery/twitter.png" alt="Devknox android application security tool" class=""></a>
      </span>
  </div>
</footer>


<!--[if lt IE 9]>
<script type='text/javascript' src='/js/jquery-1.11.3.min.js'></script>
<![endif]-->
<!--[if (gte IE 9) | (!IE)]><!-->
<script type='text/javascript' src='/js/jquery-2.1.4.min.js'></script>
<!--<![endif]-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6//js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type='text/javascript' src='/js/jquery.flexslider-min.js'></script>
<script type='text/javascript' src='/js/jquery.appear.js'></script>
<script type='text/javascript' src='/js/jquery.plugin.js'></script>
<script type='text/javascript' src='/js/jquery.countdown.js'></script>
<script type='text/javascript' src='/js/jquery.waypoints.min.js'></script>
<script type="text/javascript" src="//js/toastr.min.js"></script>
<script type='text/javascript' src='/js/main.js'></script>
<script type='text/javascript' src='/js/jquery.validate.min.js'></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82797653-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1683437.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->
<script type="text/javascript">
    $('#sidebar').affix({
          offset: {
            top: 200
          }
    });

    var $body   = $(document.body);
    var navHeight = $('.navbar').outerHeight(true) + 10;

    $body.scrollspy({
    	target: '#leftCol',
    	offset: navHeight
    });
  </script>
