<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="/img/logo.png" alt="Devknox android application security tool">
        </a>
      </div>
      <span class="social-icons">
        <a target="_blank" href="https://www.facebook.com/devknoxio"><img src="/img/gallery/social-25.png" alt="Devknox android application security tool" class=""></a>
        <a target="_blank" href="https://www.linkedin.com/company/devknox"><img src="/img/gallery/social-26.png" alt="Devknox android application security tool" class=""></a>
        <a target="_blank" href="https://twitter.com/devknoxio"><img src="/img/gallery/social-27.png" alt="Devknox android application security tool" class=""></a>
      </span>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">FEATURES</a></li>
          <li><a href="/get-started">GET STARTED</a></li>
          <li><a href="/get-started/#documentation">Documentation</a></li>
          <li><a href="/get-started/#faqs">FAQs</a></li>
        </ul>
      </div>

    </div>

  </nav>
</header>
