<header>
  <nav class="navbar navbar-inverse dk-navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="/img/logo.png" alt="Devknox android application security tool.">
        </a>
      </div>
      <!-- <span class="social-icons">
        <a target="_blank" href="https://www.facebook.com/devknoxio"><img src="/img/gallery/fb.png" alt="Devknox android application security tool" class=""></a>
        <a target="_blank" href="https://www.linkedin.com/company/devknox"><img src="/img/gallery/linkedin.png" alt="Devknox android application security tool" class=""></a>
        <a target="_blank" href="https://twitter.com/devknoxio"><img src="/img/gallery/twitter.png" alt="Devknox android application security tool" class=""></a>
      </span> -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" data-proofer-ignore>HOME</a></li>
          <li><a href="/documentation" data-proofer-ignore>DOCUMENTATION</a></li>
          <li><a href="/get-started/#faq_section" data-proofer-ignore>FAQs</a></li>
          <li><a type="button" href="/get-started" data-proofer-ignore class="button-all">GET STARTED</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
